[user]
	name = Han
	email = laughinghan@gmail.com
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[diff]
	REMOVE-ME-TO-ENABLE-external = /Users/Han/git-opendiff.sh
	tool = Kaleidoscope
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
	ci = commit -v
	st = status
	dc = diff --cached
	co = checkout
	mg = merge --no-ff
	ff = merge
	purb = pull --rebase
	br = branch -v
	lg = log --decorate --graph --date=relative --stat
	fancy = log --all --decorate --graph --date=local --stat
	rebasec = rebase --continue
[rerere]
	enabled = true
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[push]
	default = upstream
