[user]
	name = Han
	email = laughinghan@gmail.com
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[diff]
	REMOVE-ME-TO-ENABLE-external = /Users/Han/git-opendiff.sh
	tool = Kaleidoscope
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
	ci = commit -v
	st = status -sb
	dc = diff --cached
	co = checkout
	mg = merge --no-ff
	ff = merge
	purb = pull --rebase
	br = branch -vv
	l = log --graph --pretty=format:'%C(red)%h%C(reset)%C(bold white)%d%C(reset) %s %C(cyan)<%aN>%C(reset) %C(yellow)%ar%C(reset) %C(green)(%cr)%C(reset)'
	lg = log --decorate --graph --date=relative --stat
	history = log --all --decorate --graph --date=local --stat
	rootgrep = !git grep ; since "shell commands will be executed from the top-level directory of a repository" - git help config
	rebasec = rebase --continue
	git = !"cd \"$GIT_PREFIX\" && git"
[rerere]
	enabled = true
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[push]
	default = upstream
